.profile__edit-button {
    margin: 38px 0 0 22px;
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url("../../../images/kursor.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    transition: opacity 0.5s ease;
}
.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 540px) {
    .profile__edit-button {
        margin: 12px 0 0 15px;
        width: 18px;
        height: 18px;
        background-size: 7px;
    }
}