.elements__button-like {
    margin: 5px 5px 0 20px;
    width: 22px;
    height: 19px;
    background-color: #FFFFFF;
    background-image: url("../../../images/like.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: opacity 0.5s ease;
}
.elements__button-like:hover {
    opacity: 0.6;
}