.elements__title {
    max-width: 185px;
    margin: 0 0 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}