.popup__button-close {
    margin: 0;
    padding: 0;
    background-image: url("../../../images/close-icon.svg");
    border: none;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -40px;
    right: -40px;
    transition: 0.6s linear;
}
.popup__button-close:hover {

    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        top: calc(50% - 199px);
        right: calc(50% - 141px);
        background-size: 20px;
    }
}